*{
  box-sizing:border-box;
  margin: 0;
  padding:0 ;
}

#__next {
  min-height: 100vh;
}

.md-editor {
  border:1px solid grey;
}

/* for form inputs */
.css-m28hg-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10rem !important;
}
.css-1fj08h0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10rem !important;

}